<suite name="TsetSuite">
	<test name="Testsample">
		<listeners>
			<listener class-name="traning.TestListener" />
		</listeners>
		<parameter name="Browser" value="Chrome" />
		<classes>
			<class name="traning.TestNGKT">
				<methods>
					<include name="JavaKT" />
				</methods>
			</class>
		</classes>
	</test>
</suite>